<!DOCTYPE html>
<html lang="kr">
<meta charset="UTF-8">

<head>
    <title>WebSocket Test Sender</title>
    <script type="module" src="/script/WebRTC.js"></script><!--변수 공유(export, import)를 위해 모듈로 로드-->
    <script type="module" src="/script/UserInterface.js"></script>
    <link rel="stylesheet" href="/views/stream-desktop.css" media="(min-width: 768px)" />
    <link rel="stylesheet" href="/views/stream-mobile.css" media="(max-width: 767px)" />
</head>

<body>
    <div id="loginPanel">
        <div>
            <video id='myVideo' class="video" autoplay controls muted width="320" height="240"></video><br>
            <form onsubmit="startChat(event)" id="form">
                <input type="text" id="roomrequest" name="roomrequest" placeholder="방 번호" style="width: 280;">
                <input type="button" id="randomButton" onclick="randomRoom()" value="R" style="width: 40;"><br>

                <input type="text" id="username" name="username" placeholder="사용자 이름" style="width: 320;"><br>

                <input id="loginButton" type="submit" value="LogIn" style="width: 320;">
            </form>
        </div>
    </div>

    <div id="chat">
        <div id="remoteVideos"></div>
        <div id="sidebar"></div>
    </div>

</body>

</html>